// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category-name {
  background-color: #0A9CDC;
  border: 1px solid #707070;
  color: white;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
}